@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef2fb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: white;
  color: #462671;
  width: 18%;
  height: 450px;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.box {
  margin-top: 30px;
  margin-left: 25px;
}

input {
  margin-bottom: 1.2em;
}

.small-heading {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #aaaac4;
  font-size: 0.7em;
}

.dark-heading {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #462671;
  font-size: 0.8em;
}

span {
  border-bottom: 1px solid;
}

.checked {
  color: #aaaac4;
}

input[type="radio"] {
  width: 1.3rem;
  height: 1.3rem;
}

button {
  padding: 10px;
  border-radius: 8px;
  background-color: #462671;
  width: 55px;
  color: white;
  float: right;
  margin-right: 25px;
  border: none;
  outline: none;
}
